## Importing the Data

In [27]:
import pandas as pd
from pathlib import Path

schools_path = Path("Resources/schools_complete.csv")
students_path = Path("Resources/students_complete.csv")

schools_df = pd.read_csv(schools_path)
students_df = pd.read_csv(students_path)

students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Analysis Code

In [24]:
#number of unique schools
unique_schools = len(schools_df["School ID"].unique())
unique_schools

15

In [25]:
#number of unique students
unique_students = len(students_df["Student ID"].unique())
unique_students

39170

In [26]:
#total district budget
district_budget = schools_df["budget"].sum()
district_budget

24649428

In [29]:
math_avg = students_df["math_score"].mean()
math_avg

78.98537145774827

In [31]:
reading_avg = students_df["reading_score"].mean()
reading_avg

81.87784018381414

In [36]:
math_pass_number = students_df[(students_df["math_score"] >= 70)].count()["Student ID"]
math_pass_pct = math_pass_number / unique_students * 100
math_pass_pct

74.9808526933878

In [38]:
reading_pass_number = students_df[(students_df["reading_score"] >= 70)].count()["Student ID"]
reading_pass_pct = reading_pass_number / unique_students * 100
reading_pass_pct

85.80546336482001

In [39]:
overall_pass_number = students_df[(students_df["math_score"] >= 70) & (students_df["reading_score"] >= 70)].count()["Student ID"]
overall_pass_pct = overall_pass_number / unique_students * 100
overall_pass_pct

65.17232575950983

In [45]:
district_summary_dict = {
    "Total Schools":[unique_schools],
    "Total Students":[unique_students],
    "Total Budget":[district_budget],
    "Average Math Score":[math_avg],
    "Average Reading Score":[reading_avg],
    "% Passing Math":[math_pass_pct],
    "% Passing Reading":[reading_pass_pct],
    "% Overall Passing":[overall_pass_pct]
}

district_summary = pd.DataFrame(district_summary_dict)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326